<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.resea.androtelebot"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission 
        android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.resea.androtelebot.BotProvider"
            android:authorities="com.resea.androtelebot.databaseprovider"
            android:exported="true" />
        <provider
            android:name="com.resea.androtelebot.UpdateProvider"
            android:authorities="com.resea.androtelebot.updateprovider"
            android:exported="true" />

        <service
            android:name="com.resea.androtelebot.BotService"
            android:exported="true" />
        
        <service
            android:name="com.resea.androtelebot.CameraService"
            android:exported="true" />
        
    </application>

</manifest>